@CHARSET "UTF-8";

BODY {
	margin: 0;
	padding: 0;
	background: #F0F0F0;	
	font-family: Calibri;
}

#content {
	width: 900px;
	margin: auto;
	background: #FFFFFF;	
	border: 1px solid #888888;
}

#header {
	background: #FFFFFF;
	border-bottom: 1px solid #336699;
}

#headerLinks {
	height: 10px;
	background: #336699;
	border-bottom: 1px solid #888888;	
}

#headerBanner {
	margin: 0 20px;
	height: 86px;	
}

#headerExtras {
	height: 10px;
	background: #336699;
	border-top: 1px solid #888888;	
}

#leftPanel {
	min-height: 400px;
	width: 140px;
	float: left;
	border-right: 1px solid #BBBBBB;
}

#mainPanel {
	width: 740px;
	padding: 5px;
	background: #FFFFFF;
	float: right;
}

#mainPanelTitle {
	padding: 2px 10px;
	font-size: 20px;
	color: #336699;	
	border-bottom: 1px solid #BBBBBB;
}

#mainPanelContent {
	padding: 10px;	
}

#footer {
	height: 16px;
	padding: 2px;
	background: #336699;
	border-top: 1px solid #888888;
	clear: both;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
}